<html layout:decorate="~{template}">
<head>
    <title>Input Data Customer</title>
</head>
<body>
    <section layout:fragment="content">
        <h2>Input Data Customer</h2>

        <form class="row g-4" th:action="@{/customer/form}" th:object="${customer}"
                method="post"
                enctype="multipart/form-data">
            <div class="col-md-8">
                <label for="inputCabang" class="form-label">Cabang Pendaftaran</label>
                <input type="text" class="form-control"
                    id="inputCabang"
                    name="cabang">
                <div class="invalid-feedback">
                    
                </div>
            </div>
            <div class="col-md-8">
                <label for="inputNama" class="form-label">Nama</label>
                <input type="text" class="form-control" th:errorClass="is-invalid" 
                    id="inputNama"
                    th:field="*{nama}">
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('nama')}" th:text="${err}">
                        Pesan error nanti di sini
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="email" class="form-control" th:errorClass="is-invalid" id="inputEmail"
                    th:field="*{email}">
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('email')}" th:text="${err}">
                        Pesan error nanti di sini
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <label for="inputTanggalLahir" class="form-label">Tanggal Lahir</label>
                <input type="text" class="form-control" th:errorClass="is-invalid" id="inputTanggalLahir"
                    th:field="*{tanggalLahir}">
                <div class="invalid-feedback">
                    <p th:each="err : ${#fields.errors('tanggalLahir')}" th:text="${err}">
                        Pesan error nanti di sini
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <label for="inputFoto" class="form-label">Foto</label>
                <input type="file" class="form-control"
                       id="inputFoto" name="foto">
                <div class="invalid-feedback">

                </div>
            </div>
            <div class="col-8">
                <button class="btn btn-primary" type="submit" value="Simpan"></button>
            </div>
        </form>

    </section>
</body>
</html>