<html layout:decorate="~{template}">
<head>
    <title>Data Customer</title>
</head>
<body>
    <section layout:fragment="content">
        <h2>Data Customer</h2>

        <h4 th:if="${sukses}" th:text="${sukses}">
            Pesan sukses nanti tampil di sini
        </h4>

        <a sec:authorize="hasAuthority('EDIT_CUSTOMER')" th:href="@{/customer/form}" class="btn btn-primary">Tambah Data Customer</a>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="c : ${customerData.content}">
                        <td th:text="${c.nama}">Nama Customer</td>
                        <td th:text="${c.email}">Email Customer</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>